# Ignore previous versions
/fyp-version-one/*
/temp_recourses/*
/temp_resources/

# dependencies
/node_modules
/.pnp
.pnp.js
/app

# testing
/coverage

# next.js
/.next/
/out/
/fyp-version-two/package-lock.json
/fyp-version-two/package.json

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/fyp-version-two/myReadMe.md

# terraform
/fyp-version-one/terraform/.terraform
/fyp-version-two/terraform/.terraform
/.terraform/
.tfstate
.tfstate.
.terraform.lock.hcl
.secrets.tfvars
/fyp-version-two/terraform/.ssh/euPubKey.pub
/fyp-version-two/terraform/secrets.tfvars
/fyp-version-two/terraform/terraform.tf*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/lambda/dist/*
/lambda/node_modules/*
/lambda/src/*
/fyp-version-one/lambda/*
/fyp-version-two/lambda/*

