# dependencies
/node_modules
/.pnp
.pnp.js
/app

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# terraform
/fyp-version-one/terraform/.terraform
/fyp-version-two/terraform/.terraform
/.terraform/
.tfstate
.tfstate.
# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/lambda/dist/*
/lambda/node_modules/*
/lambda/src/*
/fyp-version-one/lambda/*
/fyp-version-two/lambda/*

